/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 mars 2016, 11:35:30
    Author     : p1408080
*/

.footer{
    background-color:#808080;
    color:white;
    text-align: center;
    font-family: "Roboto";
}

/*box pour miniature de vidéo*/
.box{
    background-color: #F647FF;
    color:#FFFFFF;
    padding: 5px;
    margin: 10px;
    width: max-content;
    height: auto;
}
/*classe pour les miniatures d'image*/
.tumbnail{
    height: 100%;
    max-height: 200px;
    max-width: 320px;
}
/*pour le texte dans une box*/
.box p{
    font-family: "Roboto";
    text-align: center;
}

/*contient les box*/
.content{
    width: 77vw;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
}

.box_pub{   
    background-color: #F647FF;
    color:#FFFFFF;
    padding: 5px;
    margin: 10px;
    width: 20vw;
    height: 500px;
    display: flex;
}

.mainContainer{
    display: flex;
    width: 100%;
}
