/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 mars 2016, 11:35:30
    Author     : p1408080
*/

.footer{
    background-color:#808080;
    color:white;
    text-align: center;
        
}

.box{
    background-color: #F647FF;
    color:#FFFFFF;
    
}
//classe pour les miniatures d'image
.tumbnail{
    
}

.box p{
    
}

